{% extends 'food/base.html' %}
    
    {% block body %}
    <div class="container bg-secondary w-50 p-3 mb-3">
        <h1 class="col-2 mx-auto text-white">Hungry:)</h1>
    </div>
        {% for item in item_list %}
            
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <img class="card" width="450px" style="height: 300px;" src="{{ item.item_image }}">

                </div>
                <div class="col-md-4 offset-md-0">
                    <h3>{{ item.item_name }}</h3>
                    <h5>{{ item.item_description }}</h5>
                    <h6>${{ item.item_price }}</h6>
                </div>
                <div class="col-md-2 ">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
                    <a href="{% url 'food:edit_item' item.id %}" class="btn btn-success">Edit</a>
                </div>
            </div>

        {% endfor %}
    {% endblock %}
        